body {

    font-family: Arial;
    margin: 0;
    background: #f0f7ef;

}

header {
    width: 100%;
    text-align: center;
    background: white;
    color: rgb(9, 9, 9);
    padding: 20px;

}

nav a {

    color: rgb(251, 93, 8);
    margin: 10px;
    text-decoration: none;

}

.hero {

    text-align: center;
    padding: 80px;
    background: #dff9fb;

}

button {

    padding: 12px 20px;
    margin: 10px;
    background: #20bf6b;
    color: white;
    border: none;

}